/* font-family: 'Italianno', cursive;
font-family: 'Noto Sans Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    /* bor  der: 1px solid black; */
}
.nav_home{
    color: rgb(0, 0, 0);
    margin-left: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 19px;
}

#navbarDropdown{
    color: rgb(0, 0, 0);
    margin-left: 25px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    
     } 
#contact{
    margin-left: 20px;
}  
.navbolte{
    margin-top: 10px;
}
.BTN{
    text-decoration: none;
    color: black;
    font-weight: 700;
    
}

.BTN:hover{
    color: black;
}



        
.hehe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card-body
  {
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    color: black;
    /* background-color: blue; */
  }
  .card2{
      background-color: aqua;
      border-radius: 10px;
  }